# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

build
deps
target
lib

# Executables
*.exe
*.out
*.app
*.sln
*.vcxproj
*.suo
*.user
*.filters
*.VC.db
*.opendb
.gitignore
.project
cmake_install.cmake

CMakeCache.txt
CMakeFiles/
Release/
Debug/
Makefile
